{% extends "users/base.html" %}

{% block head_content %}
<title>Platzigram sign in</title>
{% endblock %}

{% block container %}

    {% if form.errors %}
        <p class="alert alert-danger"> Your username or password didn´t match. Please try again</p>
    {% endif %}

    <form action="{% url "users:login" %}" method="post">
        {% csrf_token %}  
        <input class="form-control" type="text" name="username" id="" placeholder="Username">
        <input class="form-control" type="password" name="password" id="" placeholder="Password">

        <button class="btn btn-primary btn-block mt-5" type="submit">Sing In</button>
    </form>
    <p class="mt-4">Don't have an account yet? <a href="{% url "users:signup" %}">Sing up here.</a></p>

{% endblock %}